@font-face {
    font-family: 'Belwe-Bold';
    src: url('/static/Belwe-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  body {
    font-family: 'Belwe-Bold', sans-serif;
    text-align: center;
  }

  h1 {
    font-size: 48px;
  }

  th {
    font-size:  24px;
  }

  td {
    font-size:  20px;
  }

  td, th {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
  }