<!DOCTYPE html>
<html>
<head>
    <title>Battlegroundsle</title>
    <style>
        .blank {
            background-color: white;
            color : black;
        }
        
        .red {
            background-color: red;
            color: white;
        }

        .green {
            background-color: green;
            color: white;
        }

        .orange {
            background-color: orange;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Battlegroundsle</h1>

    <form method="POST">
        <button type="submit" name="reset">Reset</button>
        <br>
        <input type="text" name="input_text" placeholder="Enter a card...">
        <button type="submit" name="guess">Guess</button>
    </form>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Tier</th>
            <th>Attack</th>
            <th>Health</th>
            <th>Minion Type</th>
        </tr>
        {% for row in table_rows %}
        <tr>
            {% for value, color in row %}
            <td class="{{ color }}">{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>